[submodule "ingadhoc/product"]
	path = ingadhoc/product
	url = git@github.com:ingadhoc/product.git
	branch = 13.0

[submodule "ingadhoc/purchase"]
	path = ingadhoc/purchase
	url = git@github.com:ingadhoc/purchase.git
	branch = 13.0

[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 13.0

[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 13.0
